---
import linksMapping from '../data/linksMapping.json'

function resolveLinks(markdownContent: string, pageKey: string): string {
  const pageLinks = linksMapping
    .mappings
    .find(mapping => mapping.page === pageKey)?.links || {};

  Object.entries(pageLinks).forEach(([key, value]) => {
    const linkRegex = new RegExp(`\\[([^\\]]+)\\]\\(link:${key}\\)`, 'g');
    markdownContent = markdownContent.replace(linkRegex, `[$1](/${value})`);
  });

  return markdownContent;
}

---
<html>
<head>
  <title>{frontmatter.title}</title>
</head>
<body>
  <article>
    <h1>{frontmatter.title}</h1>
    <Markdown content={resolvedContent} />
  </article>
</body>
</html>
